services:

  aibot:
    container_name: aibot_container
    image: ghcr.io/helltar/aibot:latest
    restart: unless-stopped
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - aibot_data:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  postgres:
    container_name: postgres_container
    image: postgres:17.7
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      PGPORT: ${POSTGRESQL_PORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  aibot_data:
